.workspace-form-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;

  .card-header {
    padding: 1.5rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--text-color);
      margin: 0;
    }
  }

  .field {
    label {
      color: var(--text-color);
    }

    .text-red-500 {
      color: var(--gray-700);
    }
  }
}
